@media( max-width: 1199px )
    .carousel
        min-height: 670px
        .slider
            width: 600px
            img
                width: 100%

@media (max-width: 991px)
    .promo   
        width: 100%  
        background: url(/bg/header_bg_2.png) no-repeat 
        background-size: cover
        &__header
            font-size: 35px
        &__subheader
            font-size: 20px
    .consultation
        padding: 75px 0 60px 0
        &__title
            font-size: 30px
        &__subheader
            margin-top: 50px
    .carousel
        padding: 50px 0
        min-height: 555px
        .slider
            width: 500px
        .slick-dots
            padding-left: 80px
    .catalog
        &__content
            justify-content: space-around
    .catalog-item
        &:nth-child(even)
            margin-right: 30px
        &:nth-child(odd)
            margin-left: 30px              
                
@media (max-width: 766px)
    .header
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        align-items: center
        &__official
            margin-top: 15px
            margin-left: 30px
        &__contacts
            margin: 0 auto     
    .button
        &_header
            margin-top: 5px
    .promo
        &__wrapper
            align-items: center
        &__header
            text-align: center
            font-size: 30px
        &__subheader
            text-align: center
            margin-top: 15px
            font-size: 16px
        &__icons
            width: 370px
        &__footer
            br
                display: block    
        &__link
            text-align: center
            font-size: 18px
            margin-top: 10px
            a
                font-size: 22px
    .title
        font-size: 25px
    .advantages
        padding: 58px 0 63px 0
        &__wrapper
            flex-wrap: wrap
            margin-top: 40px
        &__item
            max-width: 290px
            margin: 0 auto
            margin-top: 10px
    .consultation
        min-height: 450px
        &__title
            text-align: center
            font-size: 25px
        &__subheader
            text-align: center
            font-size: 18px
            margin-top: 30px
        .feed-form
            align-items: center
            input
                width: 250px
                height: 40px
            .button_form
                width: 250px
                height: 45px
                font-size: 15px
    .carousel
        padding: 41px 0
        min-height: 430px
        .slider
            width: 370px
        .slick-dots
            padding-left: 75px
    .catalog
        padding-bottom: 50px
        &__content
            justify-content: space-between
            margin-top: 40px
        &__tabs
            margin-top: 35px
            justify-content: center
        &__tab
            width: 160px             
    .catalog-item
        width: 270px
        &:nth-child(n+1)
            margin-left: 0
            margin-right: 0 
        &__oldPrice
            font-size: 13px
        &__newPrice
            font-size: 18px
    .button
        &_catalog
            width: 118px
            height: 35px
            padding-top: 8px

@media (max-width: 575px)    
    .header
        flex-direction: row
        flex-wrap: wrap
        justify-content: center
        align-items: center
        &__official
            margin-bottom: 0
            margin-top: 20px
            margin-right: 10px
        &__contacts
            margin-top: 15px
    .button
        &_header
            margin-top: 5px
    .promo
        &__wrapper
            align-items: center
        &__header
            text-align: center
            font-size: 30px
        &__subheader
            text-align: center
            margin-top: 15px
            font-size: 16px
    .advantages
        padding: 50px 0 55px 0
        &__item-Subheader
            margin-top: 20px
    .consultation
        padding: 50px 0 40px 0
        &__title
            font-size: 19px
        &__subheader
            font-size: 17px
            margin-top: 22px
        .feed-form
            align-items: center
            input
                width: 200px
                height: 40px
            .button_form
                width: 200px
                height: 45px
                font-size: 14px
    .carousel
        min-height: 330px
        .slider
            width: 300px
            img
                width: 85%
                margin-left: 23px
        .slick-dots
            padding-left: 95px
    .catalog
        padding-bottom: 35px          
        &__content
            justify-content: center
            margin-top: 30px
            display: none
            // &__active
            //     display: flex
        &__tabs
            margin-top: 25px
        &__tab
            padding-top: 15px
            width: 105px
            font-size: 12px     
        .slider__catalog
            display: block       
    .catalog-item        
        width: 300px
        margin: 0
        margin-top: 20px




    